<div class="container-fluid">

<div class="container-div">
	<h1 aling="center">Nuevo Presupuesto</h1>
	<%= form_for @budget, :url => { :action => :create } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
</div>
