<h1>UPurchaseDetail#edit</h1>
<div class="container-div">
	<h1>editar detalle de la compra</h1>
	<%= form_for @u_purchase_detail, :url => { :action => :update } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>