<h1>EmployeePayment#edit</h1>
<div class="container-div">
	<h1>Editar Pago</h1>
	<%= form_for @employee_payment, :url => { :action => :update } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
