<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @materials_type.description %>
</p>

<%= link_to 'Edit', edit_materials_type_path(@materials_type) %> |
<%= link_to 'Back', materials_types_path %>
