<div class="container-fluid">
<h1 align="center">Nueva Utilidad del Mueble</h1>
	<%= form_for @utilities_for_furniture, :url => { :action => :create } do |e| %>
	<%= render "form", e: e %>
	<% end %>
</div>
