<p id="notice"><%= notice %></p>

<h1>Tipos de tablones</h1>

<table class="style_table">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilities_types.each do |utilities_type| %>
      <tr>
        <td><%= utilities_type.description %></td>
        <td><%= link_to 'Ver', utilities_type %></td>
        <td><%= link_to 'Editar', edit_utilities_type_path(utilities_type) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

