<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @utilities_type.description %>
</p>

<%= link_to 'Edit', edit_utilities_type_path(@utilities_type) %> |
<%= link_to 'Back', utilities_types_path %>
