<div class="container-div">
	<h1 align="center">Editar Material del Mueble</h1>
	<%= form_for @material_for_furniture, :url => { :action => :update } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
