
<div class="new" id="new">
  <div class="card-body">
    <section class="form-elegant">

      <!-- Grid row -->
      <div class="row justify-content-center">

        <!-- Grid column -->
        <div class=" col-6 col-sm-9 ">

          <!--Form without header-->
          <div class="card">

            <div class="card-body mx-4">

              <!--Header-->
              <div class="text-center">
    <h1>Sistema de Gestión para Carpinteria</h1>
    <h4>Bienvenido <%= current_user.email %> </h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

  </div>
</div>
